@charset "utf-8";

#conteiner-1 {
    width: 100%;
    height: 100%;
    background-image: url(../Imagens/Templates/3.jpg);
    background-size: cover;
    background-position: center center;
}

#conteiner-2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e6e6e6;
}

#conteiner-3 {
    height: 260%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
}

#conteiner-4 {
    height: 190%;
    width: 100%;
    background-color: #c41a1aad;
}